.super-mario {
    position: absolute;
    width: 200px;
    left: 15%;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 18%;
  }
  
  .baloon {
    position: absolute;
    top: 38%;
    left: 44%;
    z-index: 1;
  }
  
  .speach {
    position: absolute;
    top: 42%;
    left: 45%;
    font-size: 25px;
    z-index: 2;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    top: 50%;
    left: 60%;
    
  }