h1, p{
    text-align: center;
}

ul, ol{
    list-style: none;
}

#twitch:hover{
    background-color: purple;
    color: white;
    cursor: pointer;
}

#twitch:active{
    font-size: 19px;
    
}

#youtube:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}

#youtube:active{
    font-size: 19px;
    
}

#instagram:hover{
    background-color: rgb(127, 167, 201);
    color: white;
    cursor: pointer;
}

#instagram:active{
    font-size: 19px;
    
}

