[submodule "front-end/front-end/secao-01-Introducao-ao-frontend-e-javascript-assincrono/dia-03-Casa-Cambio-Pratica/exercise-casa-de-cambio"]
	path = front-end/front-end/secao-01-Introducao-ao-frontend-e-javascript-assincrono/dia-03-Casa-Cambio-Pratica/exercise-casa-de-cambio
	url = https://github.com/joseVitor03/trybe-exercicios
