* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url('https://i.pinimg.com/originals/d9/94/f7/d994f7eee97ae819eb67801ae96b2c21.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    margin: 15vh auto;
    padding: 2%;
}

#title {
    margin-bottom: 3%;
    font-size: 30px;
    color: white;
}

.container-card{
    width: 325px;
    height: 485px;
    border: 2px solid white;
    box-shadow: 0 0 20px black;
}

#card {
    width: 100%;
}

#name {
    font-size: 20px;
    margin: 6% 5%;
    color: white;
}

#btn {
    padding: 2%;
    width: 35%;
    border: none;
    border-radius: 10px;
    background-color: rgb(20, 20, 20);
    color: white;
}

#btn:hover {
    background-color: white;
    transition: 0.8s;
    color: black;
}

@media screen and (max-width: 750px) {
    body {
        background: linear-gradient(45deg, blue, red);
    }

    .container-card {
        border: none;
    }

    #card {
        width: 350px;
    }

    #name {
        margin-top: 25%;
    }

    #btn {
        width: 150px;
        padding: 15px;
        font-size: 20px;
    }
}